main{
    background-color: #2f353a;

}

.container-principal{
    color: white;
    background-color: #212529;
    width: 100%;
    margin: 2em;
    padding: 1em;
    
}

.contenido{
    margin: 2em;
    border: solid 1px black;
    padding: 1em;
}

.accordion-button{
    background-color: #212529;
    color: white;
}

.accordion-body{
    background-color: #2f353a;
}
